# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Results and logs
results/
*.log

# Data files (opzionale)
data/instances/large/
*.dat

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db